// ------------MAIN------------------------------------------------------------>
.main {
	background-color: #fdfdfd;
	color: rgb(0, 0, 0);
}

// ------------GREETING------------------------------------------------------------>
.greeting {
	background: url(../pictures/background_greeting.jpg);
	background-size: cover;
	height: 100svh;
	width: 100%;
	background-attachment: fixed;
	background-position: left;
	background-repeat: no-repeat;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: -web-fill-available;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #1d1d1d;
	padding-top: 1px;
	padding-bottom: 1px;
	color: #fff;
	text-align: center;
}

.greeting__container {
	max-width: none;
	height: 100%;
	width: 100%;
	padding: 50px 50px 50px 15%;
	display: flex;
	justify-content: flex-start;
	align-content: start;
	background-image: url("../pictures/background_for_coursore_move_effect.png");
	background-size: cover;
}

.greeting__wrap {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.greeting__title {
	font-size: 84px;
	text-align: left;
	text-shadow: 1px 2px 2px rgb(252, 120, 142);
}

.greeting__paragraph {
	text-align: left;
	font-size: 34px;
	text-shadow: 1px 1px 1px rgb(252, 120, 142);
}

.greeting__btn-to-header {
	position: absolute;
	width: 74px;
	height: 74px;
	bottom: -1%;
	background-image: url("../pictures/icons/greeeting/greeting_btn.svg");
	background-repeat: no-repeat;
	background-position: center 50%;
	animation: 0.5s scroll-down infinite forwards;
}

// ------------SERVICES------------------------------------------------------------>
.services {
	width: 100%;
}

.services__container {
	margin: 50px 0px;
}

.services__title {
	padding-bottom: 50px;
}

.services__list {
	width: 100%;
	padding-left: auto;
	padding-right: auto;
	justify-content: center;
	padding: 0 3%;
	display: grid;
	grid-gap: 2.5%;
	grid-template-columns: repeat(3, 30%);
}

.services__item {
	width: 100%;
	position: relative;
}

.services__image-wrapper {
	background: #000000;
	transition: all 0.3s ease-out;
	width: 100%;
	overflow: hidden;
}

.services__image-wrapper::before {
	content: "";
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease-out;
}

.hover-animation__text {
	color: rgb(255, 255, 255);
	font-weight: 500;
	font-size: 35px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease-out;
}

.services__image-wrapper:hover .hover-animation__text {
	opacity: 1;
	top: 40%;
	transition: all 0.3s ease-out;
}

.services__image-wrapper:hover .hover-animation__link {
	top: 60%;
	opacity: 1;
	transition: all 0.3s ease-out;
}

.services__image-wrapper:hover .services__image {
	transition: all 0.3s ease-out;
	transform: scale(1.1, 1.1);
	opacity: .8;
}

.services__image {
	opacity: 0.6;
	transition: all 0.3s ease-out;
	max-width: 100%;
}

.services__hover-animation {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	transition: all 0.3s ease-out;
}

.hover-animation__link {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: rgb(252, 120, 142);
	padding: 20px 60px;
	transition: all 0.3s ease;
	font-size: 16px;
	line-height: 2;
	width: 50%;
	letter-spacing: .1em;
	transition: all 0.3s ease-out;
	opacity: 0;
}

.hover-animation__link:hover {
	color: rgb(252, 120, 142);
	background-color: white;
	transition: all 0.3s ease-out;
}

.services__out-link {
	margin-top: 50px;
}

// ------------PERSONALITY------------------------------------------------------------>
.personality__container {
	max-width: 1366px;
	margin-top: 100px;
	text-align: left;
	display: flex;
	justify-content: center;
	gap: 7%;
	align-items: flex-start;
}

.personality__left-side {
	font-weight: 500;
}

.personality__title {
	font-size: 36px;
	margin-top: 25px;
	margin-bottom: 35px;

}

.personality__subtitle {
	padding-bottom: 130px;
	font-size: 15px;
	position: relative;
}

.personality__subtitle::after {
	content: "";
	position: absolute;
	width: 80px;
	height: 2px;
	background-color: rgb(252, 120, 142);
	bottom: 40%;
	left: 0;
}

.personality__list-item {
	padding-bottom: 15px;
	position: relative;
}

.personality__list-item::before {
	content: '';
	background-image: url("../pictures/icons/main/rhombus.png");
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0;
	bottom: 50%;
	height: 15px;
	width: 15px;
}

.personality__text {
	position: relative;
	margin-left: 25px;
}

.personality__img {
	width: 35%;
	padding: 5px;
	border: 3px solid rgb(252, 120, 142);
}

// ------------CONTACT------------------------------------------------------------>
.main__contacts {
	margin-bottom: 100px;
}

.contacts__container {
	max-width: 1366px;
	margin-top: 100px;
	text-align: left;
	justify-content: center;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	gap: 5%;
	align-items: flex-start;
}

.contacts__side {
	font-weight: 500;
}

.contacts__title {
	margin-bottom: 50px;
}

.contacts__list {
	margin-top: 20px;
}

.contacts__list-item {
	padding-bottom: 15px;
	position: relative;
}

.contacts__text {
	margin-left: 25px;
}

.contacts__text::before {
	content: '';
	background-image: url("../pictures/icons/main/rhombus.png");
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0;
	bottom: 50%;
	height: 15px;
	width: 15px;
}

.contacts__img {
	padding: 5px;
	border: 3px solid rgb(252, 120, 142);
	width: 35%;
}

// ------------MEDIA------------------------------------------------------------>

@media (max-width: 1500px) {
	.hover-animation__text {
		font-size: 28px;
	}

	.hover-animation__link {
		padding: 15px 20px;
		top: 80%;
		font-size: 14px;
	}

	.services__image-wrapper:hover .hover-animation__link {
		top: 70%
	}
}

@media (max-width: 1200px) {
	.hover-animation__text {
		font-size: 22px;
	}

	.services__out-link {
		font-size: 18px;
	}

	.contacns__text-block {
		font-size: 14px;
	}

	.contacts__title {
		font-size: 36px;
		margin-bottom: 20px;
	}
}

@media (max-width: 980px) {
	.greeting__title {
		font-size: 65px;
		font-weight: 00;
	}

	.greeting__paragraph {
		font-size: 32px;
		font-weight: normal;
	}

	.services__list {
		display: flex;
		gap: 5%;
	}

	.services__item:last-child {
		display: none;
	}

	.hover-animation__text {
		opacity: 1;
		top: 40%;
		transition: all 0.3s ease-out;
	}

	.hover-animation__link {
		top: 70%;
		opacity: 1;
		transition: all 0.3s ease-out;
	}

	.personality__subtitle {
		padding-bottom: 60px;
	}

	.personality__text {
		font-weight: normal;
	}

	.contacns__text-block {
		font-size: 14px;
	}

	.contacts__title {
		font-size: 36px;
		margin-bottom: 20px;
	}

	.contacts {
		margin-bottom: 50px;
	}
}

@media (max-width: 767px) {
	.greeting__title {
		font-size: 56px;
	}

	.greeting__paragraph {
		font-size: 32px;
	}

	.services__list {
		flex-direction: column;
		gap: 15px;
	}

	.services__item {
		height: 550px;
	}

	.services__image-wrapper {
		height: 100%;
	}

	.hover-animation__text {
		font-size: 36px;
	}
}

@media (max-width: 660px) {
	.personality__img {
		position: absolute;
		right: 10%;
		width: 30%;
		border: 2px solid rgb(252, 120, 142);
	}

	.personality__title {
		font-size: 32px;
		margin-bottom: 40px;
	}

	.personality__subtitle {
		margin-bottom: 60px;
	}

	.personality__subtitle::after {
		bottom: 0;
	}

	.contacts__img {
		display: none;
	}
}

@media (max-width: 560px) {
	.greeting {
		background: url(../pictures/background_greeting--mobile.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100svh;
		min-height: -web-fill-available;
	}
	.services__item {
		height: 400px;
	}

	.personality__container {
		gap: 0;
	}

	.personality__img {
		right: 5%;
	}
}

@media (max-width: 530px) {
	.greeting__container {
		padding-left: 20px;
	}

	.hover-animation__text {
		font-size: 32px;
	}

	.personality__container {
		position: relative;
	}

	.personality__img {
		width: 45%;
		top: 25%;
	}

	.personality__subtitle {
		margin-bottom: 250px;
	}
}

@media (max-width: 440px) {
	.services__item {
		height: 300px;
	}

	.hover-animation__text {
		font-size: 26px;
	}

	.personality__img {
		right: 15%;
		top: 25%;
		width: 50%;
	}
}

@media (max-width: 400px) {
	.greeting__paragraph {
		font-size: 26px;
		font-weight: 700;
		text-shadow: 2px 2px 2px rgb(252, 120, 142);
	}
}

@media (max-width: 380px) {
	.services__item {
		height: 250px;
	}

	.hover-animation__text {
		font-size: 22px;
	}

	.personality__title {
		margin-bottom: 15px;
	}

	.personality__subtitle {
		margin-bottom: 150px;
	}

	.personality__img {
		right: 13%;
		top: 22%;
		width: 45%;
	}
}

@media (max-width: 360px) {
	.personality__title {
		font-size: 28px;
	}

	.personality__subtitle {
		font-size: 13px;
	}

	.personality__text {
		font-size: 15px;
		font-weight: 500;
	}

	.personality__img {
		right: 13%;
		top: 22%;
		width: 45%;
	}
}

@media (max-width: 360px) {
	.personality__subtitle::after {
		width: 2px;
		height: 140px;
		top: 62%;
		left: 0;
	}

	.personality__title {
		font-size: 22px;
	}

	.personality__img {
		top: 20%;
	}

	.contacts__title {
		font-size: 22px;
	}
}