.header--documents {
	color: white;
	background-image: url("../pictures/services/service_head_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 65%;
	height: 100px;
}

.body-wrapper--documents {
	min-height: 0px;
}

.swiper {
	margin: 20px 0px 40px 0px;
	max-width: 1600px;
}

.documents__title--documents {
	padding-top: 25px;
}

.picture--documents {
	text-align: center;
}

.swiper-pagination-bullet-active,
.swiper-button-prev,
.swiper-button-next {
	--swiper-theme-color: #ffa8a8;
}

@media (max-width: 767px) {
	.header--documents{
		top: 0;
	}
	.main__wrapper{
		padding-top: 50px;
	}
}