.header--service{
	color: white;
	background-image: url("../pictures/services/service_head_background.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center 65%;
	height: 150px;
}
@media (max-width: 767px) {

	.header--service{
		color: white;
		background-image: none;
		height: 0;
	}
}

.hover-animation__price{
	font-size: 14px;
	font-weight: 400;
	padding-top: 10px;
}